[init]
	defaultBranch = main
[user]
	email = gatupancho@gmail.com
	name = Francisco Ciordia
[safe]
	directory = /run/media/francio/Almacenamiento/gatu-/Documents/Facu/5to/Cuatri_1/Sistemas_Operativos_2/Tps/Tp5
	directory = /run/media/francio/Almacenamiento/gatu-/Documents/
	directory = /run/media/francio/Almacenamiento/gatu-/Documents/Facu/5to/Cuatri_1/Sistemas_De_Computacion/Tps/Tp3
	directory = /run/media/francio/Almacenamiento/gatu-/Documents/Facu/4to/Cuatri_2/Sistemas_Operativos_1/Tps/Tp4
	directory = /run/media/francio/Almacenamiento/gatu-/Documents/Facu/4to/Cuatri_2/Sistemas_Operativos_1/Tps/Tp5
	directory = /run/media/francio/Almacenamiento/gatu-/Documents/Facu/5to/Cuatri_1/Sistemas_De_Computacion/Tps/Tp3/Repo_profe
	directory = /run/media/francio/Almacenamiento/gatu-/Documents/Facu/5to/Cuatri_1/Sistemas_Operativos_2/Tps/Tp6
	directory = /run/media/francio/Almacenamiento/gatu-/Documents/Facu/4to/Cuatri_2/Sistemas_Operativos_1/Tps/Tp1
	directory = /run/media/francio/Almacenamiento/gatu-/Documents/Facu/4to/Cuatri_2/Sistemas_Operativos_1/Tps/Tp2
	directory = /run/media/francio/Almacenamiento/gatu-/Documents/Facu/4to/Cuatri_2/Sistemas_Operativos_1/Tps/Tp3
	directory = /run/media/francio/Almacenamiento/gatu-/Documents/Facu/4to/Cuatri_2/Sistemas_Operativos_1/Tps/Tp6
	directory = /run/media/francio/Almacenamiento/gatu-/Documents/Facu/4to/Cuatri_1/Prog_concurrente/TP2/BuguiSoft
	directory = /run/media/francio/Almacenamiento/gatu-/Documents/Facu/4to/Cuatri_1/Prog_concurrente/TP2/Buguisoft
	directory = /run/media/francio/Almacenamiento/gatu-/Documents/Facu/5to/Cuatri_1/Sistemas_De_Computacion/Tps/Tp4
	directory = /run/media/francio/Almacenamiento/gatu-/Documents/Facu/5to/Cuatri_1/Sistemas_Operativos_2/Tps/Tp7
	directory = /run/media/francio/Almacenamiento/gatu-/Documents/Facu/4to/Cuatri_1/Ing_Software/Tp/LudoM
	directory = /run/media/francio/Almacenamiento/gatu-/Documents/Facu/5to/Cuatri_1/Sistemas_Operativos_2/Tps/Tp4
[http]
	version = HTTP/1.1
